<div class="jumbotron">
	<h1>Welcome <span style="font-style: italic;">{{user.displayName}}</span></h1>
	<p>Username: {{user.username}}</p>
	<p>ID: {{user.id}}</p>
	<a href="/logout" class="btn btn-danger">Logout</a>
</div>

<div class="container">
	{{#each photos}}
	<form action="account" method="post">
	<input style="display:none;" type="text" name="{{media_id}}">
	<div class="row">
		<div class="span8">			
			<div class="row">
				<div class="span2 col-md-3">
					<a href="#" class="thumbnail">
						<img src="{{url}}" class="img-responsive" class="img hashtag-img" alt="">
					</a>
				</div>
				<div class="span6 col-md-9">
					<button type="submit" class="btn btn-success">Like</button>
					<br>
					<br>
					<p>{{caption}}</p>
				</div>
			</div>
			<div class="row">
				<div class="span8">
					<p>
						<i class="icon-user"></i> by <a href="#">{{by}}</a>
						| <i class="icon-calendar"></i> {{created_time}}
						| <i class="icon-comment"></i> <a href="#">{{comments_count}} Comments</a>
						| <i></i> {{like_count}} Likes
						 
						| <i class="icon-tags"></i><br> tags : 

						{{#if tags_exist}}
							{{#each tags}}
								<a href="#"><span class="label label-info">{{this}}</span></a>
							{{/each}}
						{{else}}
							None
						{{/if}}
						
					</p>
				</div>
			</div>
		</div>
	</div>
	<hr style="height:2px;border:none;color:#333;background-color:#333;">
	</form>
	{{/each}}
</div>