<div class="container">
	<div class="row user-menu-container square">
		<div class="col-md-7 user-details">
			<div class="row coralbg white">
				<div class="col-md-6 no-pad">
					<div class="user-pad">
						<h3>Welcome {{user.name}}</h3>
						<h4 class="white"><i class="fa fa-check-circle-o"></i> {{user.location.name}}</h4>

						<br>
						<h4 class="white"><i class="fa fa-envelope"></i> {{user.email}}</h4>
						<br>
						<h4 class="white"><i class="fa fa-male"></i> {{user.gender}}</h4>
						<br>
						<h4 class="white"><i class="fa fa-birthday-cake"> {{user.birthday}}</i></h4>
					</div>
				</div>
				<div class="col-md-6 no-pad">
					<div class="user-image">
						<img src="{{profile_pic}}" class="img-responsive thumbnail">
					</div>
				</div>
			</div>
			<div class="row overview">
				<div class="col-md-4 user-pad text-center">
					<h3>PAGES LIKED</h3>
					<h4>{{likes_count}}</h4>
				</div>
				<div class="col-md-4 user-pad text-center">
					<h3>TOTAL PHOTOS </h3>
					<h4>{{photos_count}}</h4>
				</div>
				<div class="col-md-4 user-pad text-center">
					<h3>TOTAL STATUSES</h3>
					<h4>{{statuses_count}}</h4>
				</div>
			</div>
		</div>
		<div class="col-md-1 user-menu-btns">
			<div class="btn-group-vertical square" id="responsive">
				<a href="#" class="btn btn-block btn-default active">
					<i class="fa fa-envelope fa-3x"></i>
				</a>
				<a href="#" class="btn btn-default">
					<i class="fa fa-heart fa-3x"></i>
				</a>
				<a href="#" class="btn btn-default">
					<i class="fa fa-laptop fa-3x"></i>
				</a>
			</div>
		</div>
		<div class="col-md-4 user-menu user-pad">
			<div class="user-menu-content active">
				<h3 style="text-align: center;">
				Unread Notifications
				</h3>
				<ul class="user-menu-list">
				{{#each notifications}}
					<li>
						<h4> {{title}} </h4>
					</li>
				{{/each}}
				</ul>

			</div>
			<div class="user-menu-content">
				<h3 style="text-align: center;">
				Your Relationship Status
				</h3>
				<br>
				<br>
				<h3 style="text-align: center;">
					{{user.relationship_status}}
				</h3>
			</div>
			<div class="user-menu-content">
				<h3 style="text-align: center;">
				Trending
				</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="view">
							<img src="{{photosmin.0.picture}}" class="img-responsive thumbnail">
						</div>
						<div class="info">
							<p class="small" style="text-overflow: ellipsis">{{photosmin.0.name}}</p>
							<p class="small coral text-right"><i class="fa fa-clock-o"></i> Posted {{photosmin.0.created_time}}</small>
							</div>
							<div class="stats turqbg">
								<span class="fa fa-thumbs-up"> <strong>{{photosmin0_like_count}}</strong></span>
								<span class="fa fa-comment pull-right"> <strong>{{photosmin0_comment_count}}</strong></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="view">
								<img src="{{photosmin.1.picture}}" class="img-responsive thumbnail">
							</div>
							<div class="info">
								<p class="small" style="text-overflow: ellipsis">{{photosmin.1.name}}</p>
								<p class="small coral text-right"><i class="fa fa-clock-o"></i> Posted {{photosmin.1.created_time}}</small>
								</div>
								<div class="stats turqbg">
									<span class="fa fa-thumbs-up"> <strong>{{photosmin1_like_count}}</strong></span>
									<span class="fa fa-comment pull-right"> <strong>{{photosmin_comment_count}}</strong></span>
								</div>
							</div>
						</div>
						<!--<br>
						<center>
							<button class="btn btn-success">See More</button>
						</center>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<center>
	<form>
	<button style="border-radius:2em" type="submit" formaction="logout" formmethod="get" class="btn btn-danger btn-lg">Logout</a>
	</form>
	</center
</div>	